@{
    ViewBag.Title = "Login";
}
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="ex-page-content text-center">
    <h1>Acceso Denegado!</h1>
    <h2>Disculpe, usted no puede acceder a esta pagina</h2><br>
    <p>Intente volver al menu principal o contacte con mesa de ayuda</p>
    @*<div class="">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-primary waves-effect waves-light btn-lg" type="button">Search</button>
            </span>
        </div>
    </div>*@
    <br>
    <a class="btn btn-purple waves-effect waves-light" href="index.html"><i class="fa fa-angle-left"></i> Ir al Inicio</a>
</div>