################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AccessoADatos/bin/Debug
/Clases/bin/Debug
*/bin
*/obj
*/DSebug
/packages
/.vs
*.user