 
#filterBtnContainer {
    background-color: #fff;
    padding: 10px 0px;
    /*border-bottom: 1px solid #e4e5e7;*/
    text-align: center;
}

    /*#filterBtnContainer button {
    margin-right: 3px;
}
*/
    #filterBtnContainer button i {
        margin-right: 10px;
    }
#containergridResponsable_wrapper > .row {
     margin-right: -1px !important; 
     margin-left: -1px !important; 

}
#gridComplementos {
    padding-top: 25px;
}
.font20{
    font-size:20px;
}
#btnDescargarExel, #exportarExcel:hover {
    background: #305d1c;
    border-color: #707c6a;
}

.select2-drop {
    MARGIN-TOP: 10px !IMPORTANT;
}


#gridOrdenesPago {
    padding-top: 10px !important;
}


.swal-button--confirm {
    background-color: #34495e;
}

.swal-footer {
    text-align: center !important;
}

.swal-button {
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 16px;
}

    .swal-button.swal-button--confirm:focus {
        outline: 0;
        box-shadow: none;
    }

    .swal-button.swal-button--confirm:active {
        background-color: #34495e;
    }

.swal-text {
    text-align: center !important;
}