<footer class="ternium-layout">
    
        @*<i class="fa fa-lock text-success" aria-hidden="true" title="  Seguridad activada"  ></i>
    
    
    <label id="version">  Versión  </label>*@

</footer>
