@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Error interno del sistema";
}

<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>500</h1>
        <h2 class="font-light">Error interno del sistema.</h2><br>
        <p>El servidor encontró un error inesperado que no le permitió completar la solicitud. Pedimos disculpas, contacte a  <a href="#">Mesa de ayuda</a></p>
        <a class="btn btn-purple waves-effect waves-light" href="@Url.Action("Index", "Home")"<i class="fa fa-angle-left"></i>Inicio</a>
    </div>


</div>