@model ControlTemperaturaWeb.CustomAuthentication.CustomPrincipal 
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div class="user-details">
            <div class="pull-left">
                <img src="~/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
            </div>
            <div class="user-info">
                <div class="dropdown">
                    @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">*@
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            var identity = ((ControlTemperaturaWeb.CustomAuthentication.CustomPrincipal)HttpContext.Current.User);
                            @Html.Label(string.Format("{0} {1}", identity.FirstName, identity.LastName), new { @class="text-muted m-0"})
                           
                        }
                       
                        @*<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                        <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
                    </ul>*@
                </div>

                <p class="text-muted m-0">Usuario</p>
            </div>
        </div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    var identity = ((ControlTemperaturaWeb.CustomAuthentication.CustomPrincipal)HttpContext.Current.User);
                    if (identity.IsInRole("ControlTemperaturas"))
                    {

                    <li>
                        <a href="@Url.Action("ControlTemperatura", "home")" class="waves-effect"><i class="md md-home"></i><span> Temperaturas </span></a>
                    </li>

                    } 
                } 
                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="md md-mail"></i><span> Mail </span><span class="pull-right"><i class="md md-add"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="mail-inbox.html">Inbox</a></li>
                        <li><a href="mail-compose.html">Compose Mail</a></li>
                        <li><a href="mail-read.html">View Mail</a></li>
                    </ul>
                </li>
 
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>